<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button> </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <button class="reloadbutton button button-clear button-positive" ng-click="reload()">
                    Refresh
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
    </ion-side-menu-content>


    <ion-side-menu side="left">
        <ion-header-bar class="bar-stable">
             <h1 class="title">Đông Dương D.C</h1>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-item menu-close href="#/tab/account">
                    <info class="left">{{taxiData.name}}</info>
                    <coin class="taxi-coin right">{{taxiData.coin}}k</coin></br>
                    <idcar class="left">Biển số xe: {{taxiData.idcar}}</idcar></br><typecar class="left">Loại xe: {{taxiData.typecar}}</typecar></br><seat class="left">Số chỗ: {{taxiData.seat}}</seat></br><idcard class="left">Số chỗ: {{taxiData.idcard}}</idcard>
                </ion-item>
                <ion-item menu-close href="#/tab/trips">
                     Mua chuyến
                </ion-item>
                <ion-item menu-close href="#/tab/buy">
                    Chuyến đã mua
                </ion-item>
                <ion-item menu-close href="#/tab/history">
                    Lịch sử giao dịch
                </ion-item>
                <ion-item menu-close href="#/tab/infrienge">
                    Lịch sử vi phạm
                </ion-item>
                <ion-item menu-close href="#/tab/rules">
                    Quy định
                </ion-item>
                <ion-item menu-close href="#/tab/info">
                    Giới thiệu
                </ion-item>
                <ion-item menu-close href="#/tab/password">
                    Sửa mật khẩu
                </ion-item>
                <ion-item menu-close href="#/tab/logout">
                    Thoát
                </ion-item>
            </ion-list>
        </ion-content>
        Phone: <a href="tel:+842462810099">0246.281.0099</a>
    </ion-side-menu>
</ion-side-menus>
