<ion-view view-title="Tài khoản">
  <ion-content>
    <div class="account-info" style="margin-bottom:0">
      <div class="card">
        <div class="item item-text-wrap">
          <h1 class="box-blue">{{account.name}}</h1>
          <div class="account-one-info">
            <span class="col-lg-3">Tên đăng nhập: </span>
            <span class="col-lg-9">{{account.username}}</span>
          </div>
          <div class="account-one-info">
            <span class="col-lg-3">Tài khoản: </span>
            <span class="col-lg-9">{{account.coin}}</span>
          </div>
          <div class="account-one-info">
            <span class="col-lg-3">Số chỗ: </span>
            <span class="col-lg-9">{{account.seat}}</span>
          </div>
          <div class="account-one-info">
            <span class="col-lg-3">Loại xe: </span>
            <span class="col-lg-9">{{account.typecar}}</span>
          </div>
          <div class="account-one-info">
            <span class="col-lg-3">Biển số xe: </span>
            <span class="col-lg-9">{{account.idcar}}</span>
          </div>
          <div class="account-one-info">
            <span class="col-lg-3">Số CMT: </span>
            <span class="col-lg-9">{{account.idcard}}</span>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
