<ion-view view-title="Đổi mật khẩu" name="change-password-view">
  <ion-content class="padding">
      <div class="list list-inset">
          <label class="item item-input">
              <input type="password" placeholder="Mật khẩu" ng-model="data.password">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Xác nhận mật khẩu" ng-model="data.confirmpassword">
          </label>
      </div>
      <button class="button button-block button-assertive" ng-click="changePassword()">Thay đổi mật khẩu</button>
  </ion-content>
</ion-view>
