page-trips-buy {
  ion-navbar.toolbar {
    padding: 0 !important
  }

  .btn-buy {
    float: right;
    position: relative;
    z-index: 10;
    margin-top: -42px
  }

  .custom-tabs {
    height: 56px
  }

  .custom-tabs a {
    line-height: 40px
  }

  .bar-button-menutoggle {
    margin: 12px 20px 0 15px !important
  }


  .ion-list,
  .list-md {
    margin-bottom: 0 !important
  }

  .trip-item {
    padding: 10px 10px 10px 70px;
    border-bottom: 1px solid #eee
  }

  time {
    display: block;
    position: relative;
    font-size: 14px !important;
    margin-right: 30px !important;
  }

  .time_left {
    color: #00a65a;
    font-weight: 600;
  }

  .time_left.passed {
    color: #e84c3d
  }

  .trip-view-timeleft {
    margin: 10px auto 0
  }

  .trip-details {
    margin-top: 60px
  }

  .trip-view-time_left {
    color: #00a65a;
    font-size: 24px;
    border: 1px solid #dadada;
    box-shadow: 0 0 3px inset rgba(0, 0, 0, .5);
    border-radius: 4px;
    padding: 10px 15px;
    text-align: center;
    margin: 30px auto;
    display: block
  }

  h3.trip-destinations {
    font-size: 14px !important;
    margin: 8px 0 10px !important
  }

  .trip-view-time_left.passed {
    color: #e84c3d
  }

  .trip-info {
    margin-bottom: 5px;
    font-size: 14px
  }

  .trip-time {
    font-weight: 600;
    color: #bc5004;
    margin-right: 30px
  }

  .trip-seat {
    font-weight: 600;
    color: #a44abc
  }

  .trip-num_guess {
    font-weight: 600;
    color: #49bcbb;
    margin-left: 30px
  }

  .trip-is_round {
    font-weight: 600;
    color: #8449bc;
    margin-left: 30px
  }

  .trip-title {
    font-size: 14px !important
  }

  .center {
    text-align: center
  }

  .trip-buy {
    margin-top: 20px
  }

  .label-msg {
    position: relative;
    float: right;
    z-index: 10;
    background: #fff;
    border: 1px dashed #be4035;
    color: #be4035;
    padding: 0 8px;
    margin-top: -27px
  }

  .label-msg:not(:last) {
    display: none
  }

  .trip-coin {
    font-weight: 600;
    // margin-left: 30px;
    float: right;
    position: relative;
    z-index: 9;
    color: #b8473d;
    margin: -35px 75px 0 0
  }

  .trip-coin-view,
  .trip-pricecoin {
    color: #c6c030
  }

  .trip-pricecoin {
    font-weight: 600;
    font-size: 22px;
    float: left;
    margin: 40px -61px 0;
    width: 50px;
    text-align: center
  }

  .trip-pricecoin .small {
    font-size: 13px
  }

  .trip-price {
    font-weight: 600;
    color: #0dabb4
  }


  .list-today .item {
    background: #dffada;
    border-top: 1px solid #cfedc5 !important;
    position: relative;
  }

  .list-today .item:after {
    content: '[HÔM NAY]';
    position: absolute;
    top: 15px;
    right: 10px;
    font-size: 11px
  }

  .back-button:not(.hide)+.buttons.buttons-left {
    display: none !important
  }

  .ion-navicon.hide {
    display: none
  }

  .list-myPriority .item {
    background: #f9eaea;
    border-top: 1px solid #fadada !important;
    position: relative;
  }

  .list-myPriority .item:after {
    content: '[ƯU TIÊN]';
    position: absolute;
    top: 15px;
    right: 10px;
    font-size: 11px
  }

  .refresh-button {
    position: absolute;
    right: 0;
    float: right;
    z-index: 1000;
    cursor: pointer
  }

  .buy {
    color: #e84c3d;
    font-weight: 600
  }

  .buy.my {
    color: #1a58b2
  }
}
