<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Lịch sử vi phạm</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

  <ion-refresher (ionRefresh)="refresh_list($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list *ngFor="let list of dataList | keys" class="list-{{list.key}}"><div *ngIf="list.key !== 'total'">
    <ion-item *ngFor="let infrienge of dataList[list.key]" (click)="goToDetail(infrienge)" class="item item-remove-animate history-item" style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;" type="item-text-wrap">
      <h3>
        <b>{{infrienge.time}}</b>
      </h3>
      <p class="animated fadeIn" [innerHTML]="infrienge.details">
      </p>
    </ion-item></div>
  </ion-list>

</ion-content>
